@import "./common";

/* 公司简介*/
.company-page {
  .about-content {
    h2 {
      font-size: 16px;
      line-height: 24px;
    }
    p {
      font-size: 14px;
    }
  }
}

/* 费用估算*/
.cost-estimate-page {
  .page-title-cost-image {
    background-size: cover;
  }
  @media screen and (max-width: 767px) {
    .page-title-cost-image {
      height: 100px;
    }
  }
}

/** 注册*/
.na-page-register {
  &-header {
    .header-back-home {

    }
  }
  &-content {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    .register-tabs {
      .ant-tabs-bar {
        border-bottom: none;
        .ant-tabs-ink-bar-animated {
          width: 50% !important;
        }
      }
    }
  }
  &-form {
    .ant-input-lg {
      top: 0;
    }
    .ant-input-group-wrapper-lg .ant-input-group-addon {
      top: 0;
    }
  }
}

/** 登录*/
.na-login {

}

/** 会员中心*/
.member-page {
  max-width: 1200px;
  margin: 0 auto;
  .na-side {
    .ant-layout-sider-children {
      > .ant-menu-inline {
        border: none !important;
      }
      > .ant-menu {
        height: 100%;
      }
    }
  }
  &-content {
    background-color: #fff;
    margin: 24px 24px 0;
    @media screen and (max-width: 767px) {
      margin: 0;
    }
  }
  /** 欢迎界面*/
  .member-welcome-page {
    .member-information {
      .iconfont {
        margin-right: 20px;
        font-size: 18px;
        color: @app-theme-color;
      }
    }
    .welcome-header {
      background: #fff;
      padding: 16px;
      //border-bottom: 1px solid #e8e8e8;
      margin-bottom: 16px;
      &-content {
        .header-avatar {
          border-radius: 72px;
          display: block;
          width: 72px;
          height: 72px;
          background-color: #FFF;
        }
        .header-content {
          margin-left: 16px;
          position: relative;
          height: 72px;
        }
      }
    }
    .welcome-content {
      .content-card {
        width: 100%;
        margin-bottom: 16px;
        .title-important {
          font-size: 18px;
          float: right;
          color: @app-theme-color;
          margin-top: 3px;
        }
        &-grid {
          width: 100%;
          .self-warehouse {
            display: inline-block;
            position: absolute;
          }
          .main-tootip {
            white-space: pre-line;
          }
        }
        &-warehouse {
          .warehouse-header {
            text-align: center;
            padding: 16px;
            margin-bottom: 16px;
            border: 1px dashed @app-theme-color;
            background-color: #FFE0C9;
          }
        }
      }

      &-left {
        padding: 0 8px 0px 16px;
      }
      &-right {
        padding: 0 16px 0px 8px;
      }
    }
  }
  /** 入库操作*/
  .mainland-content-page {
    .na-advanced-search-form {
      padding-top: 0 !important;
      margin-bottom: 15px;
      .ant-row > div {
        padding: 0 !important;
      }
      .mobile-search-button {
        i {
          color: @app-theme-color;
          padding: 0 5px 0 0;
        }
        a {
          margin-left: 8px;
          line-height: 32px;
        }
        .advanced-search-button {
          margin-left: 8px;
          font-size: 12px;
        }
      }
      .web-search-button {
        button {
          //margin-left: 8px
        }
      }
    }
  }
  .warehouse-in-view-page {
    .anticon-delete {
      display: none;
    }
  }
}


/** 消息列表*/
.message-list {
  .status-tag {
    float: right;
    margin-left: 10px;
  }
  .message-step-icon {
    .ant-list-item-meta {

    }
    .iconfont {
      margin-right: 0px !important;
    }
    .warehouse-in {
      color: rgb(51, 145, 229) !important;
    }
    .wait-for-pay {
      color: rgb(254, 93, 88) !important;
    }
    .warehouse-packge {
      color: rgb(47, 194, 91) !important;
    }
    .customer-service-confirm {
      color: rgb(255, 206, 61) !important;
    }
    .delivered {
      color: rgb(124, 81, 184) !important;
    }
  }
}

@media screen and (max-width: 767px) {
  /* 注册*/
  .na-page-register {
    &-header {
      padding: 0 16px;
      height: 32px;
      line-height: 32px;
      background-color: @primary-7 !important;
    }
    &-content {
      padding-top: 16px;
      .logo-content {
        display: none;
      }
    }
  }

  /* 登录*/
  .na-login {
    &-header {
      padding: 0 16px;
      height: 32px;
      line-height: 32px;
      background-color: @primary-7 !important;
    }
    &-content {
      padding-top: 16px;
    }
  }
}

/** Demo*/
.demo-page {
  //max-width: 900px;
}

.form-control-title {
  border-left: 3px solid #f2804b;
  background-color: #fff;
  span.sign {
    margin-left: 5px;
    font-weight: 600;
  }
}

/** 详情页面公共样式*/
.view-content-page {
  @title-font-size: 16px;
  background-color: #fff;
  //padding: 12px;
  //&-header {
  //  font-size: @title-font-size;
  //  background-color: #fff;
  //  padding: 0;
  //  line-height: 0;
  //  &-title {
  //    float: left;
  //  }
  //  &-button {
  //    float: right;
  //  }
  //}
}

.txtislong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.payment {
  @pay-color: #e4393c;
  @pay-font: Verdana;
  padding: 0 20px;
  text-align: right;
  .title, .count {
    display: inline-block;
    text-align: right;
  }
  .title {
    width: 120px;
  }
  .count {
    width: 100px;
  }
  &-info {
    font-size: 15px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 20px;
    &-cost {
      margin-bottom: 15px;
    }
  }
  &-total {
    margin-top: 15px;
    padding-bottom: 15px;
    .count {
      color: @pay-color;
      font-family: @pay-font;
      font-weight: 700;
    }
  }
  &-address {
    margin-bottom: 20px;
    .address {
      margin-right: 15px;
    }
    .consignee {
      margin-right: 15px;
    }
    .tel {
    }
  }
  &-go {
    .time {
      margin-top: 15px;
      font-size: 14px;
      .count-down {
        color: @pay-color;
        float: right;
      }
    }
    button {
      width: 100%;
      border-radius: 0;
      height: 50px;
      font-size: 20px;
    }
  }
  &-paypage {
    font-size: 16px;
    padding: 0 15px;
    &-code {
      color: #999;
    }
    &-money {
      text-align: right;
      .money {
        color: @pay-color;
        font-family: @pay-font;
        font-weight: 700;
      }
    }
    &-mode {
      margin-bottom: 30px;
    }
  }
}
