@import "./common";

/* 公司简介*/
.company-page {
  .about-content {
    h2 {
      font-size: 16px;
      line-height: 24px;
    }
    p {
      font-size: 14px;
    }
  }
}

/* 费用估算*/
.cost-estimate-page {
  .page-title-cost-image {
    background-size: cover;
  }
  @media screen and (max-width: 767px) {
    .page-title-cost-image {
      height: 100px;
    }
  }
}

/** 注册*/
.na-page-register {
  &-header {
    .header-back-home {

    }
  }
  &-content {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    .register-tabs {
      .ant-tabs-bar {
        border-bottom: none;
        .ant-tabs-ink-bar-animated {
          width: 50% !important;
        }
      }
    }
  }
  &-form {
    .ant-input-lg {
      top: 0;
    }
    .ant-input-group-wrapper-lg .ant-input-group-addon {
      top: 0;
    }
  }
}

/** 登录*/
.na-login {

}

/** 会员中心*/
.member-page {
  max-width: 1200px;
  margin: 0 auto;
  .na-side {
    .ant-layout-sider-children {
      > .ant-menu-inline {
        border: none !important;
      }
      > .ant-menu {
        height: 100%;
      }
    }
  }
  &-content {
    background-color: #fff;
    margin: 24px 24px 0;
  }
  /** 欢迎界面*/
  .member-welcome-page {
    .welcome-header {
      background: #fff;
      padding: 16px;
      //border-bottom: 1px solid #e8e8e8;
      margin-bottom: 16px;
      &-content {
        .welcome-tab-button {
          .ant-card-body {
            padding: 0 10px 0 5px;
            cursor: pointer;
            &:hover {
              //background-color: #e6f7ff;
              //position: relative;
              //z-index: 1;
              //box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.15);
            }
          }
          .p-top {
            color: rgba(0, 0, 0, 0.45);
            font-size: 14px;
            line-height: 14px;
            margin-top: 12px;
            margin-bottom: 5px;
          }
          .p-bottom {
            color: rgba(0, 0, 0, 0.85);
            font-size: 30px;
            line-height: 30px;
            margin: 0;
          }
          .welcome-icon {
            height: 72px;
            display: flex;
            align-items: center;
            .iconfont{
              font-size: 50px;
              margin: 0 5px;
            }
            .wait-for-pack {
              color: #1abc9c !important;
            }
            .wait-for-pay {
              color: #fe5d58 !important;
            }
            .delivered {
              color: #7c51b8 !important;
            }
          }
        }
        .welcome-tab-division{
          &:after{
            background-color: #e8e8e8;
            position: absolute;
            top: 8px;
            right: 0;
            width: 1px;
            height: 40px;
            content: "";
            box-sizing: border-box;
          }

        }
        .header-avatar {
          border-radius: 72px;
          display: block;
          width: 72px;
          height: 72px;
          background-color: #FFF;
        }
        .header-content {
          margin-left: 16px;
          position: relative;
          height: 72px;
        }
      }
    }
    .welcome-content {
      .content-card {
        width: 100%;
        margin-bottom: 16px;
        &-grid {
          width: 100%;
          .iconfont {
            margin-right: 20px;
            font-size: 18px;
            color: #e65922;
          }
          .self-warehouse {
            display: inline-block;
            position: absolute;
          }
          .main-tootip {
            white-space: pre-line;
          }
        }
        &-warehouse {
          .warehouse-header {
            text-align: center;
            padding: 16px;
            margin-bottom: 16px;
            border: 1px dashed #e65922;
            background-color: #FFE0C9;
          }
        }
      }
      &-left {
        padding: 0 8px 0px 16px;
      }
      &-right {
        padding: 0 16px 0px 8px;
      }
    }
  }
  /** 入库操作*/
  .warehouse-storage {
    &-page {

    }
    &-header {
      .ant-card-head-title {
        line-height: 32px;
      }
    }
  }
}

.message-list {
  .status-tag {
    float: right;
    margin-left: 10px;
  }
  .message-step-icon {
    .ant-list-item-meta {

    }
    .iconfont {
      margin-right: 0px !important;
    }
    .warehouse-in {
      color: rgb(51, 145, 229) !important;
    }
    .wait-for-pay {
      color: rgb(254, 93, 88) !important;
    }
    .warehouse-packge {
      color: rgb(47, 194, 91) !important;
    }
    .customer-service-confirm {
      color: rgb(255, 206, 61) !important;
    }
    .delivered {
      color: rgb(124, 81, 184) !important;
    }
  }
}

@media screen and (max-width: 767px) {
  /* 注册*/
  .na-page-register {
    &-header {
      padding: 0 16px;
      height: 32px;
      line-height: 32px;
      background-color: @na-orange-7 !important;
    }
    &-content {
      padding-top: 16px;
      .logo-content {
        display: none;
      }
    }
  }

  /* 登录*/
  .na-login {
    &-header {
      padding: 0 16px;
      height: 32px;
      line-height: 32px;
      background-color: @na-orange-7 !important;
    }
    &-content {
      padding-top: 16px;
    }
  }
}

/** Demo*/
.demo-page {
  max-width: 900px;

}