@import "../common";

/** 高级搜索*/
.na-advanced-search-form{
  margin: 0px auto;
  padding: 12px;
}

/** 订单入库Form*/
.warehouse-in-add-form{
  padding: 12px;
}

/** 折叠面板*/
.form-collapse {
  .ant-collapse-header {
    border-left: 2px solid @primary-color;
  }
}