.na-login {
  vertical-align: middle;
  position: fixed;
  width: 100%;
  height: 100%;
  &-content {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    &-col {
      min-height: 700px;
    }
    > div {
      width: 100%;
    }
    &-tabs {
      text-align: center;
      &-modal {
        p {
          text-align: center;
        }
        .title {
          text-align: center;
          color: #787878;
        }
      }
    }
    &-title {
      text-align: center;
      .company-name {
        font-size: 55px;
        margin-bottom: 10px;
      }
    }
    &-form {
      &-forgot {
        float: right;
      }
      &-remember {
        float: left;
      }
      &-button {
        width: 100%;
      }
    }
  }
}