@import "../common";

@motion-content-a: motion-content-a;
.@{motion-content-a} {
  &-wrapper {
    height: 100vh;
    overflow: hidden;
  }
  .content-tag {
    position: relative;
    top: 25%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    .item {
      padding: 0 10px;
      display: flex;
      align-items: center;
      .iconfont {
        font-size: 24px;
        margin-right: 5px;
      }
    }
  }
  .with-line {
    width: 300px;
    font-size: 16px;
    color: #999;
    margin: 0 auto;
    position: relative;
    text-align: center
  }
  .with-line:before {
    content: "";
    border-top: 1px solid #c2c2c2;
    display: block;
    position: absolute;
    width: 100px;
    top: 24px;
    left: -100px;
  }
  .with-line:after {
    content: "";
    border-top: 1px solid #c2c2c2;
    display: block;
    position: absolute;
    width: 100px;
    top: 24px;
    right: -100px;
  }

  > h1 {
    text-align: center;
    position: relative;
    top: 15%;
    margin: auto;
    font-size: 32px;
    font-weight: 400;
    color: #404040;
    line-height: 48px;
  }
  > h4 {
    text-align: center;
    position: relative;
    top: 15%;
    margin: 10px auto;
    color: #404040;
  }
  > ul {
    position: relative;
    top: 25%;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    > li {
      display: inline-block;
      text-align: center;
      &.queue-anim-leaving {
        position: relative !important;
      }
      .icon {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .iconfont {
          color: @primary-color;
          max-width: 100%;
          font-size: 50px;
          vertical-align: middle;
          fill: currentColor;
          overflow: hidden;
        }
      }
      > h3 {
        line-height: 32px;
        margin: 10px auto;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .@{motion-content-a}-wrapper {
    height: 330px;
    .@{motion-content-a} {
      width: 90%;
      max-width: 100%;
      .content-tag {
        top: auto;
        padding: 0;
      }
      .with-line {
        width: 300px;
        font-size: 16px;
        color: #999;
        position: relative;
        text-align: center
      }
      .with-line:before {
        content: "";
        border-top: 1px solid #c2c2c2;
        display: block;
        position: absolute;
        width: 100px;
        top: 24px;
        left: -50px;
      }
      .with-line:after {
        content: "";
        border-top: 1px solid #c2c2c2;
        display: block;
        position: absolute;
        width: 100px;
        top: 24px;
        right: -50px;
      }
      > h1 {
        top: auto;
        margin: 40px auto 10px;
      }
      > h4 {
        top: auto;
        margin: 0px auto 40px;
      }
      > ul {
        top: auto;
        padding: 0;
        > li {
          //width: 16.66%;
          //max-width: 250px;
          display: block;
          margin: 20px auto 40px;
          padding: 0;
          .icon {
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            .iconfont {
              font-size: 36px;
            }
          }
          > h3 {
            font-size: 12px;
          }
        }
      }
    }
  }
}

