@import "../common";

/* Banner*/
@motion-banner: motion-banner;
.@{motion-banner} {
  width: 100%;
  // 如果在第一屏且导航位置为 relative, 一屏为 height: calc(~"100vh - 64px");
  height: 100vh;
  position: relative;
  text-align: center;
  border-color: #666;
  margin-bottom: 16px;
  &:before {
    background-image: url("http://www.famliytree.cn/icon/index-home-banner.jpg");
    background-size: cover;
    background-position: center;
    //position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
  }
  &-wrapper-right {
    //display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: @template-text-color-light;
    width: 50%;
    .queue-anim-leaving {
      position: relative !important;
      width: auto;
    }
    .title {
      width: 350px;
      left: 30px;
      margin: auto;
      display: inline-block;
      font-size: 40px;
      position: relative;
    }
    h1 {
      margin: 10px auto;
    }
    p {
      margin-bottom: 20px;
      word-wrap: break-word;
    }
    //button {
    //  border: 1px solid #fff;
    //  color: #fff;
    //  background: transparent;
    //  box-shadow: 0 0 0 transparent;
    //  transition: background .45s @ease-out, box-shadow .45s @ease-out;
    //  line-height: 36px;
    //  font-size: 16px;
    //  height: 36px;
    //  span {
    //    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    //    transition: text-shadow .45s @ease-out;
    //  }
    //  &:hover {
    //    color: #fff;
    //    border-color: #fff;
    //    background: rgba(255, 255, 255, 0.1);
    //    box-shadow: 0 0 10px rgba(50, 250, 255, 0.75);
    //    & span {
    //      text-shadow: 1px 1px 3px rgba(0, 0, 0, .35);
    //    }
    //  }
    //}
    //form表单的父级元素
    .banner-form-parent {
      margin-top: 100px;
      border-radius: 10px;
      background-position: center top;
      background-size: cover;
      z-index: 1;
      overflow: hidden;
      :after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.4);
        z-index: -1;
        background-attachment: fixed !important;
        //background-image: url('http://www.famliytree.cn/icon/index-home-banner.jpg');
        background-position: center top;
        background-size: cover;
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -ms-filter: blur(20px);
        -o-filter: blur(20px);
        filter: blur(20px);
        margin: -30px;
      }
      .ant-form {
        button {
          width: 100%;
        }
        label {
          color: #e65922;
        }
      }
    }
  }
  &-wrapper-left {
    //display: inline-block;
    position: absolute;
    top: 0;
    margin-top: 200px;
    left: 0;
    font-size: 14px;
    color: @template-text-color-light;
    width: 50%;
    .queue-anim-leaving {
      position: relative !important;
      width: auto;
    }
    .title {
      width: 350px;
      left: 30px;
      margin: auto;
      display: inline-block;
      font-size: 40px;
      position: relative;
    }
    p {
      margin-bottom: 20px;
      word-wrap: break-word;
    }
  }
  &-icon {
    bottom: 20px;
    font-size: 24px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    color: @template-text-color-light;
  }
}

@media screen and (max-width: 767px) {
  .@{motion-banner} {
    &-wrapper-left {
      width: 90%;
      margin: auto;
      .title {
        width: 90%;
        left: 0;
      }
    }
    //&:before {
    //  background-attachment: inherit;
    //}
  }
}