@import "../common";

/* Banner*/
@na-header: na-header;
@media (width: 1280px) {
  .@{na-header} {
    padding-left: 0% !important;
  }
}

.@{na-header} {
  &-navigation {
    line-height: 78px;
    height: 78px;
    font-size: 16px;
  }
  &-button-navigation {
    .bars {
      margin-right: 4px;
      font-size: 19px;
    }
  }
  .ant-menu-horizontal {
    border-bottom: none;
  }
  .logo {
    padding: 0 16px;
    overflow: hidden;
    font-size: 14px;
    float: left;
    line-height: 80px;
    text-decoration: none;
    height: 80px;
    img {
      display: inline;
      vertical-align: middle;
      //margin-right: 16px;
      width: 100%;
      max-width: 220px;
    }
    span {
      color: #1890ff;
      outline: none;
      font-size: 14px;
      line-height: 28px
    }
  }
  .tool {
    @media screen and (min-width: 768px) {
      & {
        justify-content: space-between;
      }
    }
    a:hover {
      color: @primary-color;
    }
    &-user {
      &-message {
        height: 80px;
        line-height: 80px;
        cursor: pointer;
        &:hover {
          background-color: #e6f7ff;
          border-bottom: 1px solid rgb(194, 194, 194);
        }
      }
      &-right {
        height: 80px;
        line-height: 80px;
        cursor: pointer;
        &:hover {
          background-color: #e6f7ff;
          border-bottom: 1px solid rgb(194, 194, 194);
        }
        &-name {
          padding: 0 12px;
          transition: all .3s;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 14px;
          display: flex;
          align-items: center;
          :hover {
            //background-color: @na-orange-1;
          }
        }
      }
    }
    &-tel, &-tel i {
      font-size: 20px;
      font-weight: 600;
    }
    &-tel {
      cursor: pointer;
      margin-top: -2px;
      i {
        margin-right: 5px;
      }
    }
    &-doubt {
      margin-left: 15px;
      cursor: pointer;
      i {
        margin-right: 3px;
        color: @app-theme-color !important;
        font-size: 19px;
      }
    }
    i.iconfont {
      color: @app-theme-color;
    }
    .login {
      margin-left: 15px;
      a {
        color: rgba(0, 0, 0, 0.65) !important;
      }
      i {
        color: @app-theme-color;
      }
      i.iconfont {
        margin-right: 5px;
      }
      .separate {
        margin: 0px 5px 0px 5px;
      }
    }
  }
}

.tool-user-popover {
  .ant-popover-inner-content {
    padding: 0px !important;
    width: 120px;
    .ant-menu-item {
      margin: 0px;
    }
  }
}

/** 消息通知铃铛组件*/
.header-message {
  &-popover {
    width: 350px;
    .ant-popover-inner-content {
      padding: 0px !important;
    }
    .message-card {
      &-tabs {
        .ant-tabs-bar {
          margin-bottom: 4px;
        }
        .ant-tabs-nav-scroll {
          text-align: center;
          .ant-tabs-tab {
            margin: 0 32px 0 0;
            &:last-child {
              margin-right: 0px;
            }
          }
        }

      }
      .ant-card-body {
        padding: 0px;
      }
    }
  }
  &-badge {
    cursor: pointer;
    padding: 0px 16px;
    display: flex;
    height: 100%;
    align-items: center;
  }
}

/** 消息列表组件*/
.form-message-list {
  .warehouse-in {
    color: #3391E5 !important;
  }
  .wait-for-pay {
    color: #FE5D58 !important;
  }
  .warehouse-packge {
    color: #2FC25B !important;
  }
  .delivered {
    color: #7C51B8 !important;
  }
  .wait-for-pack {
    color: #1abc9c !important;
  }

  &-item {
    /** - - - - - - -*/
    border-bottom: 1px solid #e8e8e8 !important;
    &:hover {
      background-color: #e6f7ff;
      cursor: pointer;
    }
    &-meta {
      .desc-content .desc-desc{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-bottom: 4px;
      }
      .ant-list-item-meta-title{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .message-step-icon {
    .ant-list-item-meta {

    }
    .iconfont {
      margin-right: 0px !important;
    }
  }
}

.page-title-cost-image, .page-title-company-image {
  background-size: 100%;
  background-position: 0px;
  margin-bottom: 24px;
  height: 320px;
}

.page-title-cost-image {
  background-image: url('http://www.famliytree.cn/Icon/index-home-image-7.jpg');
}

.page-title-company-image {
  background-image: url('http://www.famliytree.cn/Icon/index-home-image-12.jpg');
}

.tool-doubt {
  @img-width: 80px;
  @font-color: #373d41;
  &-item {
    border-bottom: 1px solid #eaeaea;
    padding: 5px;
    &-left {
      width: 30px;
      margin-right: 8px;
      .icon-dianhua-yuankuang, .icon-youxiang, .icon-qq, .icon-weixin {
        color: @app-theme-color;
      }
      .icon-dianhua-yuankuang, .icon-youxiang {
        font-size: 28px;
      }
      .icon-qq {
        font-size: 26px;
      }
      .icon-weixin {
        font-size: 30px;
      }
    }
    &-right {
      &-h {
        display: block;
      }
      &-p {
        color: rgba(0, 0, 0, .85);
        line-height: 20px;
        font-size: 20px;
      }
      &-img {
        display: block;
        width: 130px;
        height: 130px;
        img {
          width: 100%;
        }
      }
    }
  }
  &-item:hover {
    cursor: pointer;
    .icon-dianhua-yuankuang {
      color: #ff0000;
    }
    .icon-qq {
      color: #4cbbe6;
    }
    .icon-youxiang {
      color: #ff0000;
    }
    .icon-weixin {
      color: #17e63c;
    }
  }
  &-item:last-child {
    border-bottom: none;
  }
}
