@import "../common";

/* Banner*/
@na-header: na-header;
@media (width: 1280px) {
  .@{na-header} {
    padding-left: 0% !important;
  }
}

.@{na-header} {
  &-navigation {
    line-height: 78px;
    height: 78px;
    font-size: 16px;
  }
  &-button-navigation {
    .bars {
      margin-right: 4px;
      font-size: 19px;
    }
  }
  .ant-menu-horizontal {
    border-bottom: none;
  }
  .logo {
    padding: 0 16px;
    overflow: hidden;
    font-size: 14px;
    float: left;
    line-height: 80px;
    text-decoration: none;
    height: 80px;
    img {
      display: inline;
      vertical-align: middle;
      //margin-right: 16px;
      width: 100%;
      max-width: 220px;
    }
    span {
      color: #1890ff;
      outline: none;
      font-size: 14px;
      line-height: 28px
    }
  }
  .tool {
    @media screen and (min-width: 768px) {
      & {
        justify-content: space-between;
      }
    }
    a:hover {
      color: @primary-color;
    }
    &-user {
      &-message{
        height: 80px;
        line-height: 80px;
        padding: 0px 16px;
        cursor: pointer;
        &:hover {
          background-color: #e6f7ff;
          border-bottom: 1px solid rgb(194, 194, 194);
        }
      }
      &-right {
        height: 80px;
        line-height: 80px;
        cursor: pointer;
        &:hover {
          background-color: #e6f7ff;
          border-bottom: 1px solid rgb(194, 194, 194);
        }
        &-name {
          padding: 0 12px;
          transition: all .3s;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 14px;
          display: flex;
          align-items: center;
          :hover {
            //background-color: @na-orange-1;
          }
        }
      }
    }
    &-tel, &-tel i {
      font-size: 20px;
      font-weight: 600;
    }
    &-tel {
      cursor: pointer;
      margin-top: -2px;
      i {
        margin-right: 5px;
      }
    }
    &-doubt {
      margin-left: 15px;
      cursor: pointer;
      i {
        margin-right: 3px;
        color: @app-theme-color !important;
        font-size: 19px;
      }
    }
    i.iconfont {
      color: @app-theme-color;
    }
    .login {
      margin-left: 15px;
      a {
        color: rgba(0, 0, 0, 0.65) !important;
      }
      i {
        color: @app-theme-color;
      }
      i.iconfont {
        margin-right: 5px;
      }
      .separate {
        margin: 0px 5px 0px 5px;
      }
    }
  }
}

.tool-user-popover {
  .ant-popover-inner-content {
    padding: 0px !important;
    width: 120px;
    .ant-menu-item{
      margin: 0px;
    }
  }
}

.tool-message-popover {
  .ant-popover-inner-content {
    padding: 0px !important;
    min-width: 350px;
  }
  .header-message-card{
    .ant-card-body{
      padding: 0 16px;
    }
  }
}



.page-title-cost-image, .page-title-company-image {
  background-size: 100%;
  background-position: 0px;
  margin-bottom: 24px;
  height: 320px;
}

.page-title-cost-image {
  background-image: url('http://www.famliytree.cn/Icon/index-home-image-7.jpg');
}

.page-title-company-image {
  background-image: url('http://www.famliytree.cn/Icon/index-home-image-12.jpg');
}

.tool-doubt {
  @img-width: 80px;
  @font-color: #373d41;
  @qq-color: @app-theme-color;
  @wx-color: @app-theme-color;
  @email-color: @app-theme-color;
  &-content {
    width: 200px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #eaeaea;;
    &-num-title, &-eml-title, &-wx-title {
      color: @font-color;
      margin: 0;
      textAlign: center;
    }
    &-num, &-eml, &-code {
      margin: 0;
    }
    &-code {
      width: @img-width;
      height: 80px;
    }
    &-wx-title {
      width: @img-width;
      font-size: 12px;
      text-align: center;
      color: #FF8A00;
    }
    .icon-qq, .icon-youxiang, .icon-weixin {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .icon-dianhua-yuankuang, .icon-qq {
      font-size: 25px;
    }
    .icon-youxiang, .icon-weixin {
      font-size: 27px;
    }
    .title {
      cursor: pointer;
    }
    .icon-dianhua-yuankuang, .icon-qq, .icon-youxiang, .icon-weixin {
      color: @app-theme-color;
    }
  }
  &-content:hover {
    .icon-qq {
      color: @qq-color;
    }
    .icon-youxiang {
      color: @email-color;
    }
    .icon-weixin {
      color: @wx-color;
    }
  }
}
